/*INDEX HTML*/

#bg
{
background-color:#1E4558;
}

.borders
{

  margin: 10%;
  margin-top: 0%;
}

.quotes
{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #ffffff;
  word-spacing: 1px;
}

.box 
{
  background-color: #D52027;
  padding: 5px;
}
 
 
 
#title
{
    background-color: #1E4558;
    border: 25px solid #D52027;
}
 
#titletext
{
    padding: 10px;
    text-align: center;
    color: white;
}
 
.hover:hover
{ background-color: gray;
}


.carousel .carousel-item {
	height: auto;
  width: 100%;
}
  

/*
  .div.transbox {
	margin: 30px;
	background-color: #ffffff;
	opacity: 0.6;
  }
  
  div.transbox p {
	margin: 5%;
	font-weight: bold;
	color: #000000;
  }
  */

.px-2 {
    padding-right:($spacer*.5)!important;
  }

  .bot
{
  background-color: #232323;
  width: 100%;
  height: 50px;
  padding: 2px;

}


.bi.bi-box-heart
{
padding: 3px;
}

  

 /* PNP HTML */

 .bodyofpnp
 {
  contain: content;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(35, 35, 35, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
color: #232323;
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);
background: rgba(8, 8, 8, 0.3);
flex-basis: 100px;
padding: 10%;
 }

    .textpnp1
    {
    color: whitesmoke;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .pnp 
    {
      width: 100%;
      height: auto; 
    }
    


    .map-responsive{

      overflow:hidden;
  
      padding-bottom:40%;
  
      position:relative;
  
      height:0;
  
  }
  
  .map-responsive iframe{
  
      left:0;
  
      top:0;
  
      height:100%;
  
      width:100%;
  
      position:absolute;
  
  }
  .table
  {
    overflow-x:auto;
  }

  .table2,th,td
  {
    overflow-x:auto;

  }

  .sizepics
  {
    width: 20%;
  }

  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  /*ABOUT*/

  .abouttitle, .abouttext
  {
color: aliceblue;
font-family: Georgia, 'Times New Roman', Times, serif;
letter-spacing: 3px;
text-align: center;
  }

  .gcash
  {
    width: 100%;
    height: auto;
    float: center;

    
  }


  .righttext
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: center;
  }
  

  /*CONTACT*/

  .pics
  {
    border-radius: 50%;
    height: auto;
    width: 200px;
  }
    
  .info
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    padding: 30px;

  }



    


