/*INDEX HTML*/

#bg
{
background-color:#1E4558;
}
 
 
 
#title
{
    background-color: #1E4558;
    border: 25px solid #D52027;
}
 
#titletext
{
    padding: 10px;
    text-align: center;
    color: white;
}
 
.hover:hover
{ background-color: gray;
}


.carousel .carousel-item {
	height: 500px;
  }
  
  .carousel-item img {
	  position: absolute;
	  object-fit: cover;
	  top: 0;
	  left: 0;
	  min-height: 500px;
  }
  .carousel, .carousel-indicators
  {
	margin-left: 10%;
	margin-right: 10%;
  }


  div.transbox {
	margin: 30px;
	background-color: #ffffff;
	opacity: 0.6;
  }
  
  div.transbox p {
	margin: 5%;
	font-weight: bold;
	color: #000000;
  }

 /* PNP HTML */

 .bodyofpnp
 {
  margin-left: 10%;
  margin-right: 10%;
 }

    .mapouter
    {
      float: right;
    }
    .textpnp1
    {
    color: black;
    font-size: 30px;
    }

    .pnp 
    {
    float: center;
    width:  700px;
    height: 400px;
    
    }
    
    .data,th
    {
    width: 100%;
    float: center;
    object-fit: cover;
    }

    .tele
    {
      width: 50px;
    }


    


